REAL_ESTATE_SHEET_ID = "google_sheet_id"
GEMINI_API_KEY = "gemini_api_anahtari"
ENABLE_GEMINI = "true"
GOOGLE_CREDENTIALS_JSON = '''{"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"...","client_id":"...","token_uri":"https://oauth2.googleapis.com/token"}'''
